<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Правила чата | Статья №002</title>
    <link rel="stylesheet" href="/static/css/art.css">
</head>
<body>
    <div class="container">
        <P>2.  Оскорбления, направленные на личную жизнь</P>
        <p>2.1  Семья: Негативные комментарии о членах семьи, их поведении, отношениях в семье относятся к данному типу оскорблений.</p>
        <p>2.2  Личные отношения: Оскорбления могут касаться личных отношений, отношений с партнером, с друзьями, с семьей.</p>
    </div>
</body>
</html>