<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Правила чата | Статья №001</title>
    <link rel="stylesheet" href="/static/css/art.css">
</head>
<body>
    <div class="container">
        <P>1.  Оскорбления, направленные на внешность</P>
        <p>1.1  Внешний вид: Оскорбления, касающиеся внешности, могут включать в себя негативные комментарии о чертах лица, фигуре, цвете кожи, волосах, стиле одежды и т.д.</p>
        <p>1.2  Одежда: Негативные комментарии о стиле одежды, выборе аксессуаров, чистоте одежды также относятся к оскорблениям, направленным на внешность.</p>
    </div>
</body>
</html>