<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Правила чата | Статья №007</title>
    <link rel="stylesheet" href="/static/css/art.css">
</head>
<body>
    <div class="container">
        <p>7.  Дискриминационный контент</p>
        <P>7.1  Пропаганда дискриминации: Медиафайлы, пропагандирующие неравенство между людьми определенного пола, возраста, с инвалидностью, ущемление прав и свобод этих групп людей.</P>
        <p>7.2  Дискриминационные оскорбления: Медиафайлы, содержащие оскорбления, унижения, клевету в отношении людей определенного пола, возраста, с инвалидностью.</p>
    </div>
</body>
</html>