<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Правила чата | Статья №009</title>
    <link rel="stylesheet" href="/static/css/art.css">
</head>
<body>
    <div class="container">
        <p>9.  Контент, пропагандирующий незаконные действия</p>
        <P>9.1  Призывы к насилию: Медиафайлы, содержащие призывы к насилию, к уничтожению имущества, к физическому уничтожению людей.</P>
        <p>9.2  Призывы к терроризму: Медиафайлы, содержащие призывы к террористическим актам, к созданию террористических организаций, к участию в террористической деятельности.</p>
        <p>9.3  Пропаганда незаконных действий: Медиафайлы, пропагандирующие незаконные действия, преступления, нарушение законодательства.</p>
    </div>
</body>
</html>