<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Правила чата | Статья №004</title>
    <link rel="stylesheet" href="/static/css/art.css">
</head>
<body>
    <div class="container">
        <P>4.  Насильственный контент</P>
        <p>4.1  Физическое насилие: Видео- и фотоматериалы, изображающие умышленное причинение физической боли, травмы, убийства, истязания, мучения.</p>
        <p>4.2  Откровенный сексуальный контент: Видео- и фотоматериалы, демонстрирующие сексуальные акты, обнаженную человеческую фигуру в эротическом контексте.</p>
        <p>4.3  Сексуальное насилие: Медиафайлы, содержащие изображения сексуального насилия, издевательств, эксплуатации и унижения людей с использованием сексуального контекста.</p>
        <p>4.4  Насилие над животными: Видео- и фотоматериалы, демонстрирующие жестокое обращение с животными, убийство животных, издевательства, пытки.</p>
        <p>4.5  Терроризм: Медиафайлы, пропагандирующие терроризм, подстрекающие к террористическим актам, демонстрирующие насилие, совершаемое в рамках террористической деятельности.</p>
        <p>4.6  
            Психологическое насилие: Медиафайлы, демонстрирующие умышленное причинение психологической боли, морального унижения, оскорблений, страха человеку или группе людей.</p>
    </div>
</body>
</html>