<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Правила чата | Статья №005</title>
    <link rel="stylesheet" href="/static/css/art.css">
</head>
<body>
    <div class="container">
        <p>5  Расистский и нацианалистический контент</p>
        <P>5.1  Пропаганда национальной и расовой дискриминации: Медиафайлы, пропагандирующие неравенство между нациями и расами, ущемление прав определенных расовых групп, разжигание межрасовой ненависти.</P>
        <p>5.2  Расистские оскорбления: Медиафайлы, содержащие расистские оскорбления, унижения, клевету в отношении людей определенной расы.</p>
        <p>5.3  Пропаганда национальной и расовой дискриминации: Медиафайлы, пропагандирующие неравенство между нациями и расами, ущемление прав определенных расовых групп, разжигание межрасовой ненависти</p>
    </div>
</body>
</html>