<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Правила чата | Статья №010</title>
    <link rel="stylesheet" href="/static/css/art.css">
</head>
<body>
    <div class="container">
        <p>10. Приватная информация</p>
        <P>10.1  Информация о личной жизни: Данные о семейном положении, родственниках, о круге общения, о хобби и увлечениях, о личных впечатлениях и переживаниях, о отношениях с другими людьми.</P>
        <p>10.2  Информация о личных отношениях: Сведения о личных отношениях с партнером,  о романтических отношениях.</p>
        <p>10.3  Информация о политических взглядах: Сведения о политических взглядах человека, о его участии в политических событиях, о его отношении к политическим силам.</p>
    </div>
</body>
</html>