<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Правила чата | Статья №003</title>
    <link rel="stylesheet" href="/static/css/art.css">
</head>
<body>
    <div class="container">
        <P>3.  Оскорбления, направленные на принадлежность к группе</P>
        <p>3.1  Национальность: Оскорбления могут быть направлены на национальную принадлежность, на религиозную принадлежность, на расовую принадлежность, на этническую принадлежность.</p>
        <p>3.2  Религия: Негативные комментарии о религиозных взглядах, о религиозных традициях, о религиозных обрядах относятся к данному типу оскорблений.</p>
        <p>3.3  Другие признаки принадлежности к группе: Оскорбления могут быть направлены на другие признаки принадлежности к группе, например, на политические взгляды, на профессиональную принадлежность, на увлечения, на хобби.</p>
    </div>
</body>
</html>