<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Правила чата | Статья №008</title>
    <link rel="stylesheet" href="/static/css/art.css">
</head>
<body>
    <div class="container">
        <p>8.  Контент, ущемляющий человеческое достоинство</p>
        <P>8.1  Оскорбления: Медиафайлы, содержащие грубые высказывания, унижения, клевету в отношении людей, посягающие на честь и достоинство личности.</P>
        <p>8.2  Дискредитация: Медиафайлы, содержащие ложную информацию, распространение слухов, клевету с целью повреждения репутации человека.</p>
    </div>
</body>
</html>