<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Правила чата | Статья №006</title>
    <link rel="stylesheet" href="/static/css/art.css">
</head>
<body>
    <div class="container">
        <p>6.  Ксенофобный контент</p>
        <P>6.1  Пропаганда ненависти: Медиафайлы, пропагандирующие нетерпимость, отрицание прав и свобод людей определенных национальностей, религий, языковых групп, половой ориентации, гендерной идентичности.</P>
        <p>6.2  Ксенофобные оскорбления: Медиафайлы, содержащие оскорбления, унижения, клевету в отношении людей определенных национальностей, религий, языковых групп.</p>
    </div>
</body>
</html>