<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Правила чата | Главная</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="container-pred">
        <p class="pred">Предисловие</p>
        <div class="container-pred-con">
            <p>Незнание не освобождает от ответственности. Злоупотребление правил преследуется наказанием</p>
            <p>Мат разрешён в умеренном количестве, однако материться как сапожник неприемлемо!</p> 
        </div>
    </div>
    <div class="center">
        <div class="container-content">
            <p class="chapter">Категория 1. Окскорбления</p>
            <div>
                <a href="/art001/" class="links">Статья №001</a> <br>
                <a href="/art002/" class="links">Статья №002</a> <br>
                <a href="/art003/" class="links">Статья №003</a> 
            </div>
        </div>

        <div>
            <p class="chapter">Категория 2. Медиафайлы</p>
            <div>
                <a href="/art004/" class="links">Статья №004</a> <br>
                <a href="/art005/" class="links">Статья №005</a> <br>
                <a href="/art006/" class="links">Статья №006</a> <br>
                <a href="/art007/" class="links">Статья №007</a> <br>
                <a href="/art008/" class="links">Статья №008</a> <br>
                <a href="/art009/" class="links">Статья №009</a>  
            </div>
        </div>

        <div>
            <p class="chapter">Категория 3. Приватная информация</p>
            <div>
                <a href="/art010/" class="links">Статья №010</a> <br>
            </div>
        </div>
    </div>
</body>
</html>